/CardBrowser.BLL/bin/Debug/CardBrowser.BLL.dll
/CardBrowser.BLL/bin/Debug/CardBrowser.BLL.pdb
/CardBrowser.BLL/obj/Debug/CardBrowser.BLL.csprojResolveAssemblyReference.cache
/CardBrowser.DAL/bin/Debug/CardBrowser.DAL.dll
/CardBrowser.DAL/bin/Debug/CardBrowser.DAL.dll.config
/CardBrowser.DAL/bin/Debug/CardBrowser.DAL.pdb
/CardBrowser.DAL/bin/Debug/CardBrowser.Database.dll
/CardBrowser.DAL/bin/Debug/CardBrowser.Database.pdb
/CardBrowser.DAL/bin/Debug/EntityFramework.SqlServer.dll
/CardBrowser.DAL/bin/Debug/EntityFramework.SqlServer.xml
/CardBrowser.DAL/bin/Debug/EntityFramework.dll
/CardBrowser.Database/bin/Debug/CardBrowser.Database.dll
/CardBrowser.Database/bin/Debug/CardBrowser.Database.dll.config
/CardBrowser.Database/bin/Debug/CardBrowser.Database.pdb
/CardBrowser.Database/bin/Debug/EntityFramework.SqlServer.dll
/CardBrowser.Database/bin/Debug/EntityFramework.SqlServer.xml
/CardBrowser.Database/bin/Debug/EntityFramework.dll
/CardBrowser.Database/bin/Debug/EntityFramework.xml
/CardBrowser.Infrastructure/bin/Debug/AutoMapper.dll
/CardBrowser.Infrastructure/bin/Debug/AutoMapper.xml
/CardBrowser.Infrastructure/bin/Debug/CardBrowser.BLL.dll
/CardBrowser.Infrastructure/bin/Debug/CardBrowser.BLL.pdb
/CardBrowser.Infrastructure/bin/Debug/CardBrowser.DAL.dll
/CardBrowser.Infrastructure/bin/Debug/CardBrowser.DAL.pdb
/CardBrowser.Infrastructure/bin/Debug/CardBrowser.Database.dll
/CardBrowser.Infrastructure/bin/Debug/CardBrowser.Database.pdb
/CardBrowser.Infrastructure/bin/Debug/CardBrowser.Infrastructure.dll
/CardBrowser.Infrastructure/bin/Debug/CardBrowser.Infrastructure.dll.config
/CardBrowser.Infrastructure/bin/Debug/CardBrowser.Infrastructure.pdb
/CardBrowser.Infrastructure/bin/Debug/CardBrowser.ViewModels.dll
/CardBrowser.Infrastructure/bin/Debug/CardBrowser.ViewModels.pdb
/CardBrowser.Infrastructure/bin/Debug/CommonServiceLocator.dll
/CardBrowser.Infrastructure/bin/Debug/CommonServiceLocator.pdb
/CardBrowser.Infrastructure/bin/Debug/EntityFramework.SqlServer.dll
/CardBrowser.Infrastructure/bin/Debug/EntityFramework.SqlServer.xml
/CardBrowser.Infrastructure/bin/Debug/EntityFramework.dll
/CardBrowser.Infrastructure/bin/Debug/EntityFramework.xml
/CardBrowser.Infrastructure/bin/Debug/Microsoft.Web.Infrastructure.dll
/CardBrowser.Infrastructure/bin/Debug/System.Web.Helpers.dll
/CardBrowser.Infrastructure/bin/Debug/System.Web.Helpers.xml
/CardBrowser.Infrastructure/bin/Debug/System.Web.Mvc.dll
/CardBrowser.Infrastructure/bin/Debug/System.Web.Mvc.xml
/CardBrowser.Infrastructure/bin/Debug/System.Web.Razor.dll
/CardBrowser.Infrastructure/bin/Debug/System.Web.Razor.xml
/CardBrowser.Infrastructure/bin/Debug/System.Web.WebPages.Deployment.dll
/CardBrowser.Infrastructure/bin/Debug/System.Web.WebPages.Deployment.xml
/CardBrowser.Infrastructure/bin/Debug/System.Web.WebPages.Razor.dll
/CardBrowser.Infrastructure/bin/Debug/System.Web.WebPages.Razor.xml
/CardBrowser.Infrastructure/bin/Debug/System.Web.WebPages.dll
/CardBrowser.Infrastructure/bin/Debug/System.Web.WebPages.xml
/CardBrowser.Infrastructure/bin/Debug/Unity.Abstractions.dll
/CardBrowser.Infrastructure/bin/Debug/Unity.Abstractions.pdb
/CardBrowser.Infrastructure/bin/Debug/Unity.Configuration.dll
/CardBrowser.Infrastructure/bin/Debug/Unity.Configuration.pdb
/CardBrowser.Infrastructure/bin/Debug/Unity.Container.dll
/CardBrowser.Infrastructure/bin/Debug/Unity.Container.pdb
/CardBrowser.Infrastructure/bin/Debug/Unity.Interception.Configuration.dll
/CardBrowser.Infrastructure/bin/Debug/Unity.Interception.Configuration.pdb
/CardBrowser.Infrastructure/bin/Debug/Unity.Interception.dll
/CardBrowser.Infrastructure/bin/Debug/Unity.Interception.pdb
/CardBrowser.Infrastructure/bin/Debug/Unity.Mvc5.dll
/CardBrowser.Infrastructure/bin/Debug/Unity.RegistrationByConvention.dll
/CardBrowser.Infrastructure/bin/Debug/Unity.RegistrationByConvention.pdb
/CardBrowser.Infrastructure/bin/Debug/Unity.ServiceLocation.dll
/CardBrowser.Infrastructure/bin/Debug/Unity.ServiceLocation.pdb
/CardBrowser.UI/obj/Debug/CardBrowser.UI.csproj.FileListAbsolute.txt
/CardBrowser.UI/obj/Debug/CardBrowser.UI.dll
/CardBrowser.UI/obj/Debug/CardBrowser.UI.pdb
/CardBrowser.ViewModels/bin/Debug/CardBrowser.BLL.dll
/CardBrowser.ViewModels/bin/Debug/CardBrowser.BLL.pdb
/CardBrowser.ViewModels/bin/Debug/CardBrowser.ViewModels.dll
/CardBrowser.ViewModels/bin/Debug/CardBrowser.ViewModels.pdb
/Services/bin/Debug/AutoMapper.dll
/Services/bin/Debug/AutoMapper.xml
/Services/bin/Debug/CardBrowser.BLL.dll
/Services/bin/Debug/CardBrowser.BLL.pdb
/Services/bin/Debug/CardBrowser.DAL.dll
/Services/bin/Debug/CardBrowser.DAL.pdb
/Services/bin/Debug/CardBrowser.Database.dll
/Services/bin/Debug/CardBrowser.Database.pdb
/Services/bin/Debug/CardBrowser.Infrastructure.dll
/Services/bin/Debug/CardBrowser.Infrastructure.pdb
/Services/bin/Debug/CardBrowser.ViewModels.dll
/Services/bin/Debug/CardBrowser.ViewModels.pdb
/Services/bin/Debug/CommonServiceLocator.dll
/Services/bin/Debug/CommonServiceLocator.pdb
/Services/bin/Debug/EntityFramework.SqlServer.dll
/Services/bin/Debug/EntityFramework.SqlServer.xml
/Services/bin/Debug/EntityFramework.dll
/Services/bin/Debug/EntityFramework.xml
/Services/bin/Debug/Microsoft.Web.Infrastructure.dll
/Services/bin/Debug/Services.dll
/Services/bin/Debug/Services.dll.config
/Services/bin/Debug/Services.pdb
/Services/bin/Debug/System.Web.Helpers.dll
/Services/bin/Debug/System.Web.Helpers.xml
/Services/bin/Debug/System.Web.Mvc.dll
/Services/bin/Debug/System.Web.Mvc.xml
/Services/bin/Debug/System.Web.Razor.dll
/Services/bin/Debug/System.Web.Razor.xml
/Services/bin/Debug/System.Web.WebPages.Deployment.dll
/Services/bin/Debug/System.Web.WebPages.Deployment.xml
/Services/bin/Debug/System.Web.WebPages.Razor.dll
/Services/bin/Debug/System.Web.WebPages.Razor.xml
/Services/bin/Debug/System.Web.WebPages.dll
/Services/bin/Debug/System.Web.WebPages.xml
/Services/bin/Debug/Unity.Abstractions.dll
/Services/bin/Debug/Unity.Abstractions.pdb
/Services/bin/Debug/Unity.Configuration.dll
/Services/bin/Debug/Unity.Configuration.pdb
/Services/bin/Debug/Unity.Container.dll
/Services/bin/Debug/Unity.Container.pdb
/Services/bin/Debug/Unity.Interception.Configuration.dll
/Services/bin/Debug/Unity.Interception.Configuration.pdb
/Services/bin/Debug/Unity.Interception.dll
/Services/bin/Debug/Unity.Interception.pdb
/Services/bin/Debug/Unity.Mvc5.dll
/Services/bin/Debug/Unity.RegistrationByConvention.dll
/Services/bin/Debug/Unity.RegistrationByConvention.pdb
/Services/bin/Debug/Unity.ServiceLocation.dll
/Services/bin/Debug/Unity.ServiceLocation.pdb
/CardBrowser/bin/CommonServiceLocator.dll
/CardBrowser/bin/Services.dll
/CardBrowser/bin/Services.pdb
/CardBrowser/bin/Unity.Configuration.dll
/CardBrowser/bin/Unity.Interception.Configuration.dll
/CardBrowser/bin/Unity.Interception.dll
/CardBrowser/bin/Unity.RegistrationByConvention.dll
/CardBrowser/bin/Unity.ServiceLocation.dll
/Services/obj/Debug/CardBrowser.Services.csproj.FileListAbsolute.txt
/Services/obj/Debug/CardBrowser.Services.csprojResolveAssemblyReference.cache
/Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Services/obj/Debug/Services.dll
/Services/obj/Debug/Services.pdb
/Services/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Services/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Services/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
