<div *ngIf="card">   
    <div>
        <h2>{{ card.name | uppercase }}</h2>
        <img [image]="card.Image" />
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Card Strength</label>
            <input type="number" class="form-control" [(ngModel)]="card.StrengthValue">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Card Atteck</label>
            <input type="number" class="form-control" [(ngModel)]="card.AttackValue">
        </div>
    </div>
    <div class="form-actions right">
        <div class="col-md-12">
          <button class="btn red uppercase" (click)="goBack()">Cancel</button>
          <button class="btn green uppercase" (click)="save()">Save</button>
        </div>
      </div>
</div>

